/* selector: html */
/* propiedad: color */
/* valor: white */
/* html{color:white} */

:root{
  font-size: 16px;
  --font-size: 16px; 
}

html {
  scroll-behavior: smooth;
}

body{
  color:rgb(33, 33, 33)
}

a {
  color:rgb(33, 33, 33)
}


summary {
  cursor: pointer;
}

pre {
  background-color: rgba(255, 208, 0, 0.938);
  padding: 1rem;
}

pre code {
  font-size: 1rem;
  font-weight: 700;
}

h1{
  font-size: 60px;
  font-size: 3.75em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

header{
  font-size: 14px;
}

header a{
  text-decoration: none;
  color: #616161;
}

header a:hover {
  color: #212121;
}

nav details summary {
  font-weight: bold;
}