/* selector: html */
/* propiedad: color */
/* valor: white */
/* html{color:white} */
body{
  color:rgb(33, 33, 33)
}

a {
  color:rgb(33, 33, 33)
}

html {
  scroll-behavior: smooth;
}

summary {
  cursor: pointer;
}

pre {
  background-color: rgba(255, 208, 0, 0.938);
  padding: 1rem;
}

pre code {
  font-size: 1rem;
  font-weight: 700;
}
