/* selector: html */
/* propiedad: color */
/* valor: white */
/* html{color:white} */

:root{
  --font-size: 16px;
  --color-gray-30:rgb(33, 33, 33);
  --color-gray-20: rgb(33, 36, 41);
  --color-gray-10: rgb(97, 97, 97);
}

html {
  scroll-behavior: smooth;
}

body{
  color: var(--color-gray-30);
}

a {
  color:var(--color-gray-30);
}

summary {
  cursor: pointer;
}

pre {
  background-color: rgba(255, 208, 0, 0.938);
  padding: 1rem;
}

pre code {
  font-size: 1rem;
  font-weight: 700;
}

h1{
  font-size: 60px;
  font-size: 3.75em;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

header{
  --color-gray-10:red;
  font-size: 14px;
  color: var(--color-gray-10);
}

header a{
  text-decoration: none;
  color: var(--color-gray-10);
}

header a:hover {
  color: var(--color-gray-30);
}

nav details summary {
  font-weight: bold;
}